<table *ngIf="pokemonList.length != 0; else template_empty" cellspacing="0">
  <thead>
    <tr>
      <th>#</th>
      <th>Pokemon</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let pokemon of pokemonList" id="{{ pokemon.name }}">
      <th>{{ pokemon.id }}</th>
      <td>
        <figure>
          <img
            src="{{ pokemon.sprites.front_default }}"
            class="pokemon__illustration"
          />
          <figcaption>
            <h3 class="capitalize">{{ pokemon.name }}</h3>
            <a [routerLink]="'/' + pokemon.id"><small>Show more...</small></a>
          </figcaption>
        </figure>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #template_empty>
  <p>No Pokemon found...</p>
</ng-template>
